@import url('https://fonts.googleapis.com/css?family=Sansita');
body {
    background-color: orange;
    font-family: 'Sansita', sans-serif;
}

.main-head {
    background-color: white;
    padding: 10px 15px;
    border: 5px solid red;
}

.Quote {
    background-color: #08351F;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 0;
    color:white;
    border-bottom: 3px solid #ccc;
}

.Quote-Author {
    background-color: #2E7C16;
    color : white;
    text-decoration: bold;
    font-size: 25px;
    float: right;
    margin-top: 0;
    padding: 1em;
    
}
.btn-default {
    font-family: 'Sansita';
    padding: 10px;
    margin:10px;
    font-size: 30px;
    font-weight: bold;
    color:blue;
    border: 3px solid red;
}
